# Surf's Up
Performing Climate Analysis for the climate in Hawaii and also providing an api to share that with others

## Data Inspection & Cleanup
This jupyter notebook reads the raw data for our analysis and cleans it up as needed before proceeding. This is the first Jupyter notebook to be run for this analysis.

The raw data is in two files in the Resources folder:
* hawaii_stations.csv
* hawaii_measurements.csv

The clean data is in the following files in the same folder. Only one new file is created
* hawaii_stations.csv
* clean_hawaii_measurements.csv

In [41]:
# Import Dependencies
import pandas as pd
import os

In [53]:
# Define file paths
stations_file = os.path.join("Resources", "hawaii_stations.csv")
measurements_file = os.path.join("Resources", "hawaii_measurements.csv")
clean_measurements_file = os.path.join("Resources", "clean_hawaii_measurements.csv")

In [42]:
# Read the stations file
hawaii_stations_df = pd.read_csv(stations_file)
hawaii_stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [47]:
# Read the measurements file
measurements_df = pd.read_csv(measurements_file)
len(measurements_df)

19550

In [48]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [49]:
measurements_df.dropna(inplace=True)
measurements_df.reset_index(drop=True, inplace=True)
len(measurements_df)

18103

In [50]:
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [51]:
# Write the cleaned data frame into a new file
measurements_df.to_csv(clean_measurements_file, index=False)

In [40]:
# Verify to see if it looks OK
clean_measurements_df = pd.read_csv(clean_measurements_file)
clean_measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [52]:
len(clean_measurements_df)

18103